@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";

/* overall direction */
body, p, table, h, h1, h2, h3, h4, h5, h6, div, div.title {
  direction: rtl;
}

/* table of content indentation */
ul li ul, ul li ol {
    margin-right: 1.25em;
    margin-bottom: 0;
}

.hadith>.content>pre, .hadith > blockquote {
  border: 2px solid black;
  font-size: large;
  font-style: normal;
  background-color: beige;
  color: black;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
}
